.workwithme-wraper {
    margin-top: 100px;
}

.work-service-container {
    display: flex;
}

.work-text {
    flex: 6;
    margin-left: 20px;
}
.work-title{
    font-weight: 900;
    color: #32333c;
    margin-left: 20px;
}

.work-image {
    flex: 6;
}